Scenes.meta filter=lfs diff=lfs merge=lfs -text
UniversalRenderPipelineGlobalSettings.asset filter=lfs diff=lfs merge=lfs -text
UniversalRenderPipelineGlobalSettings.asset.meta filter=lfs diff=lfs merge=lfs -text
VR[[:space:]]Instruct filter=lfs diff=lfs merge=lfs -text
VR[[:space:]]Instruct.meta filter=lfs diff=lfs merge=lfs -text
Readme.asset filter=lfs diff=lfs merge=lfs -text
Resources.meta filter=lfs diff=lfs merge=lfs -text
Readme.asset.meta filter=lfs diff=lfs merge=lfs -text
Resources filter=lfs diff=lfs merge=lfs -text
Scenes filter=lfs diff=lfs merge=lfs -text
Oculus filter=lfs diff=lfs merge=lfs -text
Oculus.meta filter=lfs diff=lfs merge=lfs -text
